* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}

p {
  clear: both;
  padding: 10px;
}

div {
  background-color: lightgray;
  margin: 5px;
}

.header {
  margin: 0;
  float: right;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 3px 30px 3px 30px;
}

#chicken {
  background-color: rgb(228, 153, 166);
}
#beef {
  background-color: rgb(143, 44, 44);
  color: white;
}
#sushi {
  background-color: rgb(239, 239, 140);
}

.row {
  width: 100%;
}

/* Large Screens - Desktop */
.col-lg-4 {
  float: left;
  border: 2px solid black;
  width: 32%;
}

/* Medium Screens - Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    border: 2px solid black;
    width: 48%;
  }

  #sushi-div {
    width: 97%;
  }
}

/* Small Screens - Mobile */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    border: 2px solid black;
    width: 97%;
  }
}
